
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/vt_AdvML.iml
paper/src/.idea/inspectionProfiles/profiles_settings.xml
paper/src/.idea/misc.xml
paper/src/.idea/modules.xml
paper/src/.idea/src.iml
paper/src/.idea/vcs.xml
